.row-gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column-gallery {
  -ms-flex: 33%;
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column-gallery img {
  margin-top: 8px;
  vertical-align: middle;
  min-width: 100%;
}

@media screen and (max-width: 800px) {
  .column-gallery {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
  }
}


@media screen and (max-width: 600px) {
  .column-gallery {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.image-wrapper {
  position: relative;
}

.description-text {
  position: absolute; 
  min-width: 100%;
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  transition: .5s ease;
  color: white;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.image-wrapper:hover .description-text {
  opacity: 1;
}





